@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "service";
}

<body class="sub_page">
    <div class="hero_area">
    </div>

    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Services
                </h2>
            </div>
            <div class="service_container">
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-1.jpg")" alt="CROSSFIT TRAINING">
                    <h6 class="visible_heading">
                        CROSSFIT TRAINING
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("CrossfitTraining", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="CROSSFIT TRAINING">
                        </a>
                        <h6>
                            CROSSFIT TRAINING
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-2.jpg")" alt="FITNESS">
                    <h6 class="visible_heading">
                        FITNESS
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Fitness", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="FITNESS">
                        </a>
                        <h6>
                            FITNESS
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-3.jpg")" alt="DYNAMIC STRENGTH TRAINING">
                    <h6 class="visible_heading">
                        DYNAMIC STRENGTH TRAINING
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("DynamicStrengthTraining", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="DYNAMIC STRENGTH TRAINING">
                        </a>
                        <h6>
                            DYNAMIC STRENGTH TRAINING
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-4.jpg")" alt="HEALTH">
                    <h6 class="visible_heading">
                        HEALTH
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Health", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="HEALTH">
                        </a>
                        <h6>
                            HEALTH
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-5.jpg")" alt="WORKOUT">
                    <h6 class="visible_heading">
                        WORKOUT
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Workout", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="WORKOUT">
                        </a>
                        <h6>
                            WORKOUT
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-6.jpg")" alt="STRATEGIES">
                    <h6 class="visible_heading">
                        STRATEGIES
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Strategies", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="STRATEGIES">
                        </a>
                        <h6>
                            STRATEGIES
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->
</body>
