@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "service";
}

<body class="sub_page">
    <div class="hero_area">
    </div>

    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Services
                </h2>
            </div>
            <div class="service_container">
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-1.jpg")" alt="Расписание тренировок">
                    <h6 class="visible_heading">
                        Расписание тренировок
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("TrainingSchedule", "TrainingSchedule")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="Расписание тренировок">
                        </a>
                        <h6>
                            Расписание тренировок
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-2.jpg")" alt="Запись на трениовку">
                    <h6 class="visible_heading">
                        Запись на трениовку
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Register", "TrainingRegistration")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="Запись на трениовку">
                        </a>
                        <h6>
                            Запись на трениовку
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-3.jpg")" alt="Купить абонемент">
                    <h6 class="visible_heading">
                        Купить абонемент
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("SubscriptionPurchase", "SubscriptionPurchase")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="Купить абонемент">
                        </a>
                        <h6>
                            Купить абонемент
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-4.jpg")" alt="Магазин">
                    <h6 class="visible_heading">
                        Магазин
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("ProductPage", "ProductPage")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="Магазин">
                        </a>
                        <h6>
                            Магазин
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-5.jpg")" alt="WORKOUT">
                    <h6 class="visible_heading">
                        WORKOUT
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Workout", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="WORKOUT">
                        </a>
                        <h6>
                            WORKOUT
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="@Url.Content("~/Content/images/s-6.jpg")" alt="STRATEGIES">
                    <h6 class="visible_heading">
                        STRATEGIES
                    </h6>
                    <div class="link_box">
                        <a href="@Url.Action("Strategies", "Service")">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="STRATEGIES">
                        </a>
                        <h6>
                            STRATEGIES
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->
</body>
