@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Мета-теги и стили -->
    <title>@ViewBag.Title - Energym</title>
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/main/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="hero_area">
        <!-- Хедер -->
        @Html.Partial("_Header")
        <!-- слайдер -->
        @Html.Partial("_Slider")
    </div>

    <!-- Основное содержимое страницы -->
    <div class="container">
        @RenderBody()
    </div>


    <!-- навигация -->
    @Html.Partial("_Navigation")
    <!-- Футер -->
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>