<section class="info_section layout_padding2-top">
    <div class="container">
        <div class="info_form">
            <h4>
                Our Newsletter
            </h4>
            <form action="">
                <input type="text" placeholder="Enter your email">
                <div class="d-flex justify-content-end">
                    <button>
                        subscribe
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>
                    About Energym
                </h6>
                <p>
                    Energym is your premier fitness destination, offering top-notch equipment, expert trainers, and a supportive community. We're committed to helping you achieve your fitness goals through personalized training programs and state-of-the-art facilities.
                </p>
            </div>
            <div class="col-md-2 offset-md-1">
                <h6>
                    Menus
                </h6>
                <ul>
                    <li class=" active">
                        <a class="" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                        <a class="" href="@Url.Action("About", "About")">About </a>
                    </li>
                    <li class="">
                        <a class="" href="@Url.Action("Service", "Service")">Services </a>
                    </li>
                    <li class="">
                        <a class="" href="@Url.Action("Contact", "Contact")">Contact Us</a>
                    </li>
                    <li class="">
                        <a class="" href="@Url.Action("Login", "Login")">Login</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>
                    Useful Links
                </h6>
                <ul>
                    <li>
                        <a href="">
                            Membership Plans
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Personal Training
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Group Classes
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Nutrition Guide
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Success Stories
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>
                    Contact Us
                </h6>
                <div class="info_link-box">
                    <a href="">
                        <img src="images/location-white.png" alt="">
                        <span> No.123, loram ipusm</span>
                    </a>
                    <a href="">
                        <img src="images/call-white.png" alt="">
                        <span>+01 12345678901</span>
                    </a>
                    <a href="">
                        <img src="images/mail-white.png" alt="">
                        <span> demo123@gmail.com</span>
                    </a>
                </div>
                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="images/facebook-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/twitter-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>