<!-- Views/Shared/_Slider.cshtml -->
<section class="slider_section position-relative">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("About", "About")">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Service", "Service")">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Contact", "Contact")">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Login")">Login</a>
                            </li>
                        </ul>

                        <!-- Кнопка поиска -->
                        <a href="@Url.Action("ProductPage", "ProductPage")" class="search-link ml-5">
                            <i class="fas fa-search"></i>
                        </a>

                        <!-- Кнопка корзины -->
                        <a href="@Url.Action("CartPage", "CartPage")" class="cart-link ml-lg-4">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<!-- Подключение Font Awesome для иконок -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

<style>
    .cart-link, .search-link {
        text-decoration: none;
        color: inherit;
        transition: transform 0.3s ease;
    }

        .cart-link:hover, .search-link:hover {
            transform: scale(1.1);
        }
</style>