@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slider_section position-relative" style="background-image: url('@Url.Content("~/Content/images/slider-bg.jpg")'); background-size: cover; background-position: center; width: 100%; height: 100vh; margin-top: 0; padding-top: 0;">
    <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                    <div class="detail-box">
                                        <h2>Get Your Body</h2>
                                        <h1>Fitness Here</h1>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">Read More</a>
                                            <a href="" class="btn-2">Get A Quote</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>About Energym</h2>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="@Url.Content("~/Content/images/about-img.png")" alt="">
            </div>
            <div class="detail-box">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                </p>
                <a href="">Read More</a>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- service section -->
<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Our Services</h2>
        </div>
        <div class="service_container">
            @for (int i = 1; i <= 6; i++)
            {
                <div class="box">
                    <img src="@Url.Content($"~/Content/images/s-{i}.jpg")" alt="">
                    <h6 class="visible_heading">
                        @(i == 1 ? "CROSSFIT TRAINING" :
                          i == 2 ? "FITNESS" :
                          i == 3 ? "DYNAMIC STRENGTH TRAINING" :
                          i == 4 ? "HEALTH" :
                          i == 5 ? "WORKOUT" :
                                  "STRATEGIES")
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="@Url.Content("~/Content/images/link.png")" alt="">
                        </a>
                        <h6>
                            @(i == 1 ? "CROSSFIT TRAINING" :
                              i == 2 ? "FITNESS" :
                              i == 3 ? "DYNAMIC STRENGTH TRAINING" :
                              i == 4 ? "HEALTH" :
                              i == 5 ? "WORKOUT" :
                                      "STRATEGIES")
                        </h6>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- end service section -->
<!-- us section -->
<section class="us_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Why Choose Us</h2>
        </div>
        <div class="us_container">
            @for (int i = 1; i <= 4; i++)
            {
                <div class="box">
                    <div class="img-box">
                        <img src="@Url.Content($"~/Content/images/u-{i}.png")" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            @(i == 1 ? "QUALITY EQUIPMENT" :
                              i == 2 ? "HEALTHY NUTRITION PLAN" :
                              i == 3 ? "SHOWER SERVICE" :
                                      "UNIQUE TO YOUR NEEDS")
                        </h5>
                        <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- end us section -->
<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>What Says Our Customers</h2>
        </div>
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="box">
                            <div class="img-box">
                                <img src="@Url.Content("~/Content/images/client.png")" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Consectetur</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- end client section -->
<!-- result section -->
<section class="result_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="@Url.Content("~/Content/images/result-img.jpg")" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="detail-box">
                    <h2>BUILT TO BRING <br> BEST RESULTS</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    </p>
                    <a href="">Get A Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end result section -->
